<a href="https://colab.research.google.com/github/OrchidB33/Basics/blob/main/importing_intraday_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, time

In [ ]:
import pandas as pd

In [ ]:
from datetime import datetime

In [ ]:
def datetotimestamp(date):
    time_tuple = date.timetuple()
    timestamp=round(time.mktime(time_tuple))
    return timestamp

date = datetime.today()
print(datetotimestamp(date))

1668236977

In [ ]:
def datetotimestamp(date):
  time_tuple = date.timetuple()
  timestamp = round(time.mktime(time_tuple))
  return timestamp

In [ ]:
def timestamptodate(timestamp):
  return datetime.fromtimestamp(timestamp)

In [ ]:
start = datetotimestamp(datetime(2022,11,11))
end= datetotimestamp(datetime.today())
url = 'https://priceapi.moneycontrol.com/techCharts/history?symbol=23&resolution=5&from='+str(start)+'&to='+str(end)+''
print(url)

https://priceapi.moneycontrol.com/techCharts/history?symbol=23&resolution=5&from=1668124800&to=1668237131

In [ ]:
resp = requests.get(url).json()
data = pd.DataFrame(resp)
date = []
for dt in data['t']:
  date.append({'Date':timestamptodate(dt)})

dt = pd.DataFrame(date)
print(dt)

                  Date
0  2022-11-11 03:45:00
1  2022-11-11 03:50:00
2  2022-11-11 03:55:00
3  2022-11-11 04:00:00
4  2022-11-11 04:05:00
..                 ...
71 2022-11-11 09:40:00
72 2022-11-11 09:45:00
73 2022-11-11 09:50:00
74 2022-11-11 09:55:00
75 2022-11-11 10:00:00

[76 rows x 1 columns]

In [ ]:
intraday_data = pd.concat([dt,data['o'],data['h'],data['l'],data['c'], data['v']],axis=1)\
    .rename(columns={'o':'Open','h':'High','l':'Low','c':'Close','v':'Volume'})
print(intraday_data)

                  Date      Open      High       Low     Close  Volume
0  2022-11-11 03:45:00  42163.40  42220.85  42070.55  42095.50       0
1  2022-11-11 03:50:00  42099.60  42138.00  42062.45  42092.80       0
2  2022-11-11 03:55:00  42091.80  42111.05  42065.50  42067.25       0
3  2022-11-11 04:00:00  42066.30  42136.65  42061.20  42074.00       0
4  2022-11-11 04:05:00  42062.00  42087.25  42031.70  42048.45       0
..                 ...       ...       ...       ...       ...     ...
71 2022-11-11 09:40:00  42163.10  42167.95  42132.10  42138.60       0
72 2022-11-11 09:45:00  42137.45  42140.55  42098.25  42115.25       0
73 2022-11-11 09:50:00  42117.50  42153.75  42091.95  42149.50       0
74 2022-11-11 09:55:00  42147.80  42156.85  42127.75  42153.35       0
75 2022-11-11 10:00:00  42144.85  42144.85  42144.85  42144.85       0

[76 rows x 6 columns]